{% extends "base.html" %}

{% block title %} Add Rating {% endblock%}

{% block body %} 
<h1>Ticketing</h1>
<div class='form'>   
    <form action="/rate/show/{{show_id}}" method="POST" >  
        <h3>Add Rating</h3>
        <label>Rating : </label>   
        <input type="number" placeholder= " Enter new rating" name="rating" >  
        <br>
        <button type="submit">Save</button>    
        <br>
        <div class="redirect">
            <i><a href='/home'>Cancel</a></i> 
        </div>
    </form>     
</div>
{% endblock%}