<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% block body %}

    <div class="admin_home">
    <a href="/admin/add_venue"><button>+</button></a>
    {% for venue_id,value in venueDict.items() %}
    <div class="card">
        <h1>{{value[0]}}</h1>
        {% if value[1]|length == 0%}
        <div class="manageShows">
            <h3>No shows added for this venue</h3>
        </div>
        {% endif %}
        {% for show in value[1] %}
        <h3>{{show[0]}}</h3>
        <div class="manageShows">
            <a href="/admin/edit_show/{{show[2]}}"><button>Edit Show</button></a>
            <button>Delete Show</button>
        </div>
        {% endfor %}
        <a href='/admin/add_show'><button>Add Show</button></a>
        <div class="manageShows">
            <a href='/admin/edit_venue/{{venue_id}}'><button>Edit Venue</button></p></a>
            <button>Delete Venue</button></p>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
    
</div>
</body>

</html>