<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% block body %}
    <div class="admin_home">
    {% for venue,shows in venueDict.items() %}
    <div class="card">
        <h1>{{venue}}</h1>
        {% if shows|length == 0%}
        <div class="manageShows">
            <h3>No shows added for this venue</h3>
        </div>
        {% endif %}
        {% for show in shows %}
        <h3>{{show[0]}}</h3>
        <div class="manageShows">
            <button>Edit Show</button>
            <button>Delete Show</button>
        </div>
        {% endfor %}
        <p><button>Edit Venue</button></p>
        <p><button>Delete Venue</button></p>
    </div>
    {% endfor %}
    {% endblock %}
    <button class="addVenue">+</button>
</div>
</body>

</html>