{% extends "base.html" %}
{% block title %}Ticketing{% endblock %}
{% block body %}
<header>
    <div class="container">
        <div class="nav">
            <h1>Ticketing </h1>
            <div><button onclick="">Venues</button>
                <button onclick="">Shows</button>
            </div>
        </div>
    </div>
</header>

<div class="home">
    <form action="/home" method="POST">
        <input type="text" placeholder="Search by Location.." name="venuelocation" class="Search">
        <button type="submit" name="venueSearch">search</button>
    </form>
    {% for key,value in venueDict.items() %}
        <div class="card">
            <h1>{{value[0]}}</h1>
            {% if value[1]|length == 0%}
                <div class="manageShows">
                    <h3>No shows added for this venue</h3>
                </div>
            {% endif %}
            {% for show in value[1] %}
                <h3>{{show[0]}}</h3>
                <h3>Capacity: {{show[1]}}</h3>
                <div class="manageShows">
                    <button>Book Show</button>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}