{% extends "base.html" %}
{% block title %}Ticketing{% endblock %}
{% block body %}
<header>
    <div class="container">
        <div class="nav">
            <h1>Ticketing </h1>
            <div><a href='/home'><button>Home</button></a>
            </div>
        </div>
    </div>
</header>

<div class="home">
    <div class="search">
        <form action="/home" method="POST">
            <input type="text" placeholder="Search" name="searchTag" class="Search">
            <button type="submit" name="venueSearch">Search venue by location</button>
            <button type="submit" name="showSearchName">Search shows by name</button>
            <button type="submit" name="showSearchRating">Search shows by rating</button>
        </form>
    </div>
    {% for key,value in venueDict.items() %}
        <div class="card">
            <h1><a href="/venue/{{key}}">{{value[0]}}</a></h1>
            <a href='/rate/venue/{{key}}'><button>Rate Venue</button></a>
            {% if value[1]|length == 0%}
                <div class="manageShows">
                    <h3>No shows added for this venue</h3>
                </div>
            {% endif %}
            {% for show in value[1] %}
                <h3 ><a href="/show/{{show[2]}}">{{show[0]}}</a></h3>
                <h3>Availability: {{show[1]}}</h3>
                <div class="manageShows">
                    <a href='/show/{{show[2]}}'><button>Book Show</button></a>
                    <a href='/rate/show/{{show[2]}}'><button>Rate Show</button></a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}